*.class
*.jar
*.iml
/.lein-*
/.nrepl-port
/.repl
/checkouts/
/classes/
/lib/
/log/
/out/
/resources/public/js/compiled/**
/target/
figwheel_server.log
pom.xml
pom.xml.asc
/dev-target
.idea
.cljs_node_repl
.clj-kondo/.cache
lsp
.cpcache

index.html
/css
/cljs-out
/images
/data
/dist
resources/public/css/output.css
/node_modules
package-lock.json

