{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        com.stuartsierra/component {:mvn/version "1.0.0"}
        ring/ring {:mvn/version "1.8.1"}
        compojure/compojure {:mvn/version "1.6.1"}
        rum/rum {:mvn/version "0.11.5" :exclusions [cljsjs/react cljsjs/react-dom sablono/sablono]}
        digest/digest {:mvn/version "1.4.9"}
        tick/tick {:mvn/version "0.4.24-alpha"}
        clj-rss/clj-rss {:mvn/version "0.2.5"}}
 :paths ["src" "resources"]
 :aliases {:dev
           {:extra-paths ["dev" "test"]
            :extra-deps {reloaded.repl/reloaded.repl {:mvn/version "0.2.4"}}}

           :build
           {:main-opts ["-m" "blog.build"]}

           :test
           {:extra-paths ["test"]
            :extra-deps {abogoyavlensky/eftest-coverage {:mvn/version "0.1.0"}}
            :main-opts   ["-m" "eftest-coverage.runner"
                          "-p" "src"
                          "-s" "test"]}}}
