{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        com.stuartsierra/component {:mvn/version "1.0.0"}
        ring/ring {:mvn/version "1.8.1"}
        compojure/compojure {:mvn/version "1.6.1"}
        rum/rum {:mvn/version "0.11.5" :exclusions [cljsjs/react cljsjs/react-dom sablono/sablono]}
        digest/digest {:mvn/version "1.4.9"}
        tick/tick {:mvn/version "0.4.24-alpha"}
        clj-rss/clj-rss {:mvn/version "0.2.5"}

        eftest/eftest {:mvn/version "0.5.9"}
        cloverage/cloverage {:mvn/version "1.2.0"}
        org.clojure/tools.cli {:mvn/version "0.4.2"}}
 :paths ["src" "resources"]
 :aliases {:dev
           {:extra-paths ["dev" "test"]
            :extra-deps {reloaded.repl/reloaded.repl {:mvn/version "0.2.4"}}}
                         ;eftest {:mvn/version "0.5.9"}}}
                         ;cloverage/cloverage {:mvn/version "1.2.0"}}}
                         ;com.cognitect/test-runner
                         ;{:git/url "https://github.com/cognitect-labs/test-runner.git"
                         ; :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}}

           :build
           {:main-opts ["-m" "blog.build"]}

           :test
           {:extra-paths ["test"]
            :extra-deps {com.cognitect/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner.git"
                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
            :main-opts ["-m" "cognitect.test-runner"
                        "-d" "test"]}

           ;:eftest
           ;{:extra-paths ["test"]
           ; :extra-deps  {eftest/eftest {:mvn/version "0.5.9"}}
           ; :main-opts   ["-e"  "(require,'[eftest.runner,:refer,[find-tests,run-tests]]),(run-tests,(find-tests,\"test\"))"]}

           :coverage
           {:extra-paths ["test"]
            ;:extra-deps  {cloverage/cloverage {:mvn/version "1.2.0"}}
            :main-opts   ["-m" "cloverage.coverage"
                          "-p" "src"
                          "-s" "test"
                          "--runner" ":blog.util"]}

           :runner
           {:extra-paths ["test"]
            :main-opts   ["-m" "blog.util.runner"
                          ;"-m" "abogoyavlensky/eftest-coverage.runner"
                          "-p" "src"
                          "-s" "test"
                          ;"--runner" ":blog.util"
                          ;"--runner" ":clojure.test"
                          "--eftest-test-warn-time" "100"
                          "--eftest-multithread?" "true"
                          "--eftest-fail-fast?" "true"
                          ;"--eftest-report" "eftest.report.progress/report"]}}}
                          ;"--eftest-report" "eftest.report.pretty/report"]}}}
                          "--eftest-report" "eftest.report.junit/report"
                          "--eftest-report-to-file" "target/eftest/junit.xml"]}}}
