{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        com.stuartsierra/component {:mvn/version "1.0.0"}
        ring {:mvn/version "1.8.1"}
        compojure {:mvn/version "1.6.1"}
        rum {:mvn/version "0.11.5" :exclusions [cljsjs/react cljsjs/react-dom sablono]}
        markdown-clj {:mvn/version "1.10.2"}
        digest {:mvn/version "1.4.9"}
        tick {:mvn/version "0.4.24-alpha"}
        clj-rss {:mvn/version "0.2.5"}}
 :paths ["src" "resources"]
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {reloaded.repl {:mvn/version "0.2.4"}}}
           :build {:main-opts ["-m" "blog.build"]}}}
